#overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: black;
	z-index: 1000;
	opacity: 1;
	overflow: hidden;
	@include transition(all .5s ease);
	@include transform(translate3d(0,0,0));

	&.loaded { opacity: 0; }

	.logo
	{
		@include position(absolute, 50% 0 0 50%);
		@include transform(translate(-50%,-50%));
		@include transition(all 0.5s ease);
		@include animation(pulse 2.0s ease-in infinite);

		rect,
		polygon
		{
			fill: rgba(255,255,255,0.3);
		}
	}
}