/*
-------------------
BASE SASS FILE
author: Horacio Herrera
-------------------
*/

@import "../components/bourbon/dist/bourbon";

@import "base/font";
@import "base/genericons";
@import "base/_mixins";

@import "base/_variables";
@import "base/_base";

@import "components/header";
@import "components/sections";

@import "_shame.scss";

html,body {
	width: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;
	@include position(absolute, 0 0 0 0);
	overflow-x: hidden;
	overflow-y: scroll;
	font-size: 16px;
}