doctype
html
  head
    title Horacio Herrera | UI Designer
    meta(charset='utf-8', content='text/html', http-equiv='content-type')
    meta(content='ie=edge,chrome=1', http-equiv='x-ua-compatible')
    meta(content='Horacio Herrera - UI Designer website', name='description')
    meta(content='Horacio Herrera', name='author')
    meta(content='initial-scale=1.0,user-scalable=no,maximum-scale=1', name='viewport')
    meta(content='horacio, herrera, digital designer, media, digital, design, video, web, motion, graphic, responsive, animation, animacion, sonar, voice constructor, ied barcelona, loop, offf, freelance, javascript, interactive, applications, ui', name='keywords')
    meta(content='Ccwu2c0nl4-IJDOLiOzdAmaKPSKyWFqtH6tyn1jDPeg', name='google-site-verification')

    style.
      #overlay{position:absolute;top:0;right:0;bottom:0;left:0;background:black;z-index:1000;-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;transition:all 0.5s ease}#overlay.loaded{opacity:0}#overlay .logo{position:absolute;top:50%;right:0;bottom:0;left:50%;-webkit-transform:translate(-50%, -50%);-moz-transform:translate(-50%, -50%);-ms-transform:translate(-50%, -50%);-o-transform:translate(-50%, -50%);transform:translate(-50%, -50%);-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;transition:all 0.5s ease;-webkit-animation:pulse 2s ease-in infinite;-moz-animation:pulse 2s ease-in infinite;animation:pulse 2s ease-in infinite}#overlay .logo rect,#overlay .logo polygon{fill:rgba(255,255,255,0.3)}.line{max-width:648px;}

    link(rel="stylesheet" href="/css/main.css")
  body
    != yield

    script(src='/js/app.min.js')
    script(src='/js/main.js')
    script.
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-12285447-3']);
      _gaq.push(['_trackPageview']);
      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
