#overlay
  .logo
    svg#Layer_1.svg_logo(enable-background='new 0 0 841.9 595.3', space='preserve', version='1.1', viewbox='0 0 841.9 595.3', x='0px', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns='http://www.w3.org/2000/svg', y='0px')
      g
        rect(height='292.1', width='32.5', x='209.3', y='151.6')
        rect(height='129.7', width='65', x='46.8', y='314')
        rect(height='129.9', width='65', x='339.3', y='151.6')
        rect(height='129.9', width='65', x='46.8', y='151.6')
        polygon(points='696.8,184 631.8,184 631.8,411.5 696.8,411.5 696.8,314 664.3,314 664.3,281.5 794.3,281.5\
        794.3,249 696.8,249 	')
        rect(height='129.7', width='65', x='339.3', y='314')
        rect(height='292.1', width='32.5', x='501.8', y='151.6')
.header
  .bg
    .content
      .top-box
        .logo
          svg#Layer_1.svg_logo(enable-background='new 0 0 841.9 595.3', space='preserve', version='1.1', viewbox='0 0 841.9 595.3', x='0px', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns='http://www.w3.org/2000/svg', y='0px')
            g
              rect(height='292.1', width='32.5', x='209.3', y='151.6')
              rect(height='129.7', width='65', x='46.8', y='314')
              rect(height='129.9', width='65', x='339.3', y='151.6')
              rect(height='129.9', width='65', x='46.8', y='151.6')
              polygon(points='696.8,184 631.8,184 631.8,411.5 696.8,411.5 696.8,314 664.3,314 664.3,281.5 794.3,281.5\
              794.3,249 696.8,249 	')
              rect(height='129.7', width='65', x='339.3', y='314')
              rect(height='292.1', width='32.5', x='501.8', y='151.6')
      .medium-box
        hr.line.top
        h1.title Horacio Herrera
        h3.subtitle
          span.active Front-End Developer
          span Web designer
          span Mobile Developer
          span UX Designer
          .size
            span size limiter
        hr.line.bottom
      .bottom-box
        ul.no-bullet
          li
            a.social-icon(href='mailto:me@hherrerag.com', target='_blank')
              span.genericon.genericon-mail
              span.accesibility Mail ( me@hherrerag.com )
          li
            a.social-icon(href='http://www.twitter.com/hhg2288', target='_blank')
              span.genericon.genericon-twitter
              span.accesibility Twitter
          li
            a.social-icon(href='http://github.com/hhg2288', target='_blank')
              span.genericon.genericon-github
              span.accesibility Github
          li
            a.social-icon(href='http://codepen.io/hhg2288', target='_blank')
              span.genericon.genericon-codepen
              span.accesibility Codepen
          li
            a.social-icon(href='http://dribbble.com/horacio', target='_blank')
              span.genericon.genericon-dribbble
              span.accesibility Dribbble
          li
            a.social-icon(href='http://es.linkedin.com/in/hherrerag', target='_blank')
              span.genericon.genericon-linkedin
              span.accesibility Linkedin